<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<f:base/>
		<title>{settings.view.title}</title>
		<link rel="stylesheet" href="{f:uri.resource(path: '3/css/bootstrap.min.css', package: 'TYPO3.Twitter.Bootstrap')}" />
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/Setup.css')}" />
		<script src="{f:uri.resource(path: 'JavaScript/jquery-1.7.1.min.js')}"></script>
	</head>
	<body>
		<div class="logo"></div>
		<div class="well">
			<div class="container">
				<ul class="breadcrumb">
					<li><a class="active">{settings.view.title}</a></li>
				</ul>
				<f:render section="content" />
			</div>
		</div>
		<script src="{f:uri.resource(path: '2/js/bootstrap.min.js', package: 'TYPO3.Twitter.Bootstrap')}"></script>
	</body>
</html>