// Imports & variables
@import "compass";

$darkest: #000000;
$dark-grey2: #444444;
$light-grey: #E8E8E8;
$light-grey2: #CCCCCC;
$light-grey3: #888888;
$lightest: #FFFFFF;

$green: #69A550;

// Basic styles

body {
	background: $light-grey3 url(../Images/module-bg.jpg) left top repeat;
	color: white;
	margin: 2em 0 0 0;
}

code {
	word-break: break-all;
}

.logo {
	background: url('../Images/TYPO3_logo.png') right top no-repeat;
	height: 60px;
	width: 60px;
	display: block;
	text-indent: -9999px;
	position: absolute;
	right: 1%;
	top: 0px;
}

.alert-OK {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.alert-OK, .alert-OK .alert-heading {
	color: #468847;
}

.alert-Error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
.alert-Error, .alert-Error .alert-heading {
	color: #B94A48;
}

.alert-Notice {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
.alert-Notice, .alert-Notice .alert-heading {
	color: #3A87AD;
}

.loading .loading {
	background: transparent url('../Images/loading.gif') 0 0 no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}
div.error, .error .help-inline {
	color: #B94A48;
}
input.error {
	border-color: #B94A48;
}
div.db-success {
	color: $lightest;

	span {
		padding-right: 5px;
	}
}

#finalStep .modal-footer {
	display: none;
}

// Neos Styles

.well {
	background-color: #777;
	border-color: #666;
	@include box-shadow(0 0 5px rgba($darkest, 0.2) inset);
	padding: 0px;
	width: 50%;
	min-width: 350px;
	margin: 60px auto 20px;

	h1 {
		font-size: 26px;
		font-weight: normal;
		color: $lightest;
		@include text-shadow(1px 1px 1px rgba($darkest, 0.7));
		padding: 10px 6% 0px 6%;
	}

	h2 {
		font-weight: normal;
		color: $lightest;
		@include text-shadow(1px 1px 1px rgba($darkest, 0.5));
		margin-bottom: 0px;
		font-size: 21px;
	}

	p {
		line-height: 1.6em;
		color: $light-grey;
	}
	.alert p {
		color: inherit;
	}

	.well-header {
		@include border-top-radius(4px);
		@include border-bottom-radius(0px);
		background-color: #666;
		border-bottom: 1px solid $light-grey3;
		@include box-shadow(0px 1px 5px rgba($darkest, 0.2), 0px 1px 0px #666);
		height: 36px;

		li {
			@include text-shadow(0 0 0 transparent);
			color: darken($lightest, 10%);

			&.active {
			}
		}

		a {
			color: darken($light-grey2, 10%);

			&:hover,
			&:active,
			&:focus {
				color: darken($lightest, 10%);
				text-decoration: none;
			}

			&.logout {
				margin: 6px 6px 0 0;
				color: $lightest;

				i {
					margin-top: -1px;
				}
			}
		}
	}

	.form-element fieldset {
		padding: 0px 6% 0px 6%;

		fieldset {
			padding: 0px;
		}
	}

	.t3-module-container {
		padding: 0px 6% 0px 6%;

		&.indented {
			margin-left: 0px;
		}
	}
	.form-footer {
		background: #666;
		border-top: 1px solid $light-grey3;
		@include border-bottom-radius(4px);
		@include box-shadow(0px -1px 5px rgba($darkest, 0.2), 0px -1px 0px #666);
		@include box-sizing(content-box);
		margin: 20px 0px 0px 0px;
		padding: 19px 20px 20px;
		height: 28px;

		li {
			text-align:left;
		}
	}

	form {
		margin: 0px;

		legend + .clearfix {
			padding: 20px 0px 0px 0px;
			clear: both;
		}

		legend {
			border-color: #999;
			color: $lightest;
			@include text-shadow(1px 1px 1px rgba($darkest, 0.5));
			margin: 0px;
			padding: 0px;
			font-size: 21px;
			width: auto;

			& + .alert {
				margin-top: 20px;
				float: left;
				width: 100%;
				@include box-sizing(border-box);
			}
		}

		label {
			font-size: 14px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			color: $lightest;
		}
	}

	a.skip {
		margin-right: 5px;
	}

	// Middle grey button for light background
	.btn {
		outline: none;
		@include background-image(linear-gradient(lighten($light-grey3, 5%), $light-grey3));
		border: 1px solid darken($light-grey3, 5%);
		border-bottom-color: darken($light-grey3, 10%);
		$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
		@include box-shadow($shadow);
		color: $lightest;
		@include text-shadow(0 -1px 0 rgba(0, 0, 0, 0.25));

		&:hover,
		&:focus,
		&:active {
			background-color: $light-grey3;
			border: 1px solid darken($light-grey3, 10%);
			border-bottom-color: darken($light-grey3, 20%);
		}
	}

	// Green button for positive actions
	.btn-primary,
	.btn-success {
		@include background-image(linear-gradient(lighten($green, 5%), $green));
		border: 1px solid darken($green, 5%);
		border-bottom-color: darken($green, 10%);
		$shadow: inset 0 1px 0 rgba($lightest, 0.1), 0 1px 2px rgba($darkest, 0.05);
		@include box-shadow($shadow);

		&:hover,
		&:focus,
		&:active {
			background-color: $green;
			border: 1px solid darken($green, 10%);
			border-bottom-color: darken($green, 20%);
		}

		&.disabled,
		&.disabled:hover,
		&.disabled:active,
		&.disabled:focus {
			@include background-image(linear-gradient(lighten($green, 5%), $green));
		}
	}
}