body {
  background: #888888 url(../Images/module-bg.jpg) left top repeat;
  color: white;
  margin: 2em 0 0 0; }

code {
  word-break: break-all; }

.logo {
  background: url("../Images/TYPO3_logo.png") right top no-repeat;
  height: 60px;
  width: 60px;
  display: block;
  text-indent: -9999px;
  position: absolute;
  right: 1%;
  top: 0px; }

.alert-OK {
  background-color: #DFF0D8;
  border-color: #D6E9C6; }

.alert-OK, .alert-OK .alert-heading {
  color: #468847; }

.alert-Error {
  background-color: #F2DEDE;
  border-color: #EED3D7; }

.alert-Error, .alert-Error .alert-heading {
  color: #B94A48; }

.alert-Notice {
  background-color: #D9EDF7;
  border-color: #BCE8F1; }

.alert-Notice, .alert-Notice .alert-heading {
  color: #3A87AD; }

.loading .loading {
  background: transparent url("../Images/loading.gif") 0 0 no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  float: left; }

div.error, .error .help-inline {
  color: #B94A48; }

input.error {
  border-color: #B94A48; }

div.db-success {
  color: white; }
  div.db-success span {
    padding-right: 5px; }

#finalStep .modal-footer {
  display: none; }

.well {
  background-color: #777;
  border-color: #666;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) inset;
  padding: 0px;
  width: 50%;
  min-width: 350px;
  margin: 60px auto 20px; }
  .well h1 {
    font-size: 26px;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    padding: 10px 6% 0px 6%; }
  .well h2 {
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
    font-size: 21px; }
  .well p {
    line-height: 1.6em;
    color: #e8e8e8; }
  .well .alert p {
    color: inherit; }
  .well .well-header {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #666;
    border-bottom: 1px solid #888888;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 1px 0px #666666;
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 1px 0px #666666;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 1px 0px #666666;
    height: 36px; }
    .well .well-header li {
      text-shadow: 0 0 0 transparent;
      color: #e6e6e6; }
    .well .well-header a {
      color: #b3b3b3; }
      .well .well-header a:hover, .well .well-header a:active, .well .well-header a:focus {
        color: #e6e6e6;
        text-decoration: none; }
      .well .well-header a.logout {
        margin: 6px 6px 0 0;
        color: white; }
        .well .well-header a.logout i {
          margin-top: -1px; }
  .well .form-element fieldset {
    padding: 0px 6% 0px 6%; }
    .well .form-element fieldset fieldset {
      padding: 0px; }
  .well .t3-module-container {
    padding: 0px 6% 0px 6%; }
    .well .t3-module-container.indented {
      margin-left: 0px; }
  .well .form-footer {
    background: #666;
    border-top: 1px solid #888888;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2), 0px -1px 0px #666666;
    -moz-box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2), 0px -1px 0px #666666;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2), 0px -1px 0px #666666;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 20px 0px 0px 0px;
    padding: 19px 20px 20px;
    height: 28px; }
    .well .form-footer li {
      text-align: left; }
  .well form {
    margin: 0px; }
    .well form legend + .clearfix {
      padding: 20px 0px 0px 0px;
      clear: both; }
    .well form legend {
      border-color: #999;
      color: white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      margin: 0px;
      padding: 0px;
      font-size: 21px;
      width: auto; }
      .well form legend + .alert {
        margin-top: 20px;
        float: left;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
    .well form label {
      font-size: 14px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      color: white; }
  .well .help-block {
    color: #BBBBBB;
    font-size: 12px;
    margin: -8px 0 5px 0; }
  .well a.skip {
    margin-right: 5px; }
  .well .btn {
    outline: none;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #959595), color-stop(100%, #888888));
    background-image: -webkit-linear-gradient(#959595, #888888);
    background-image: -moz-linear-gradient(#959595, #888888);
    background-image: -o-linear-gradient(#959595, #888888);
    background-image: linear-gradient(#959595, #888888);
    border: 1px solid #7b7b7b;
    border-bottom-color: #6f6f6f;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
    .well .btn:hover, .well .btn:focus, .well .btn:active {
      background-color: #888888;
      border: 1px solid #6f6f6f;
      border-bottom-color: #555555; }
  .well .btn-primary,
  .well .btn-success {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76b15e), color-stop(100%, #69a550));
    background-image: -webkit-linear-gradient(#76b15e, #69a550);
    background-image: -moz-linear-gradient(#76b15e, #69a550);
    background-image: -o-linear-gradient(#76b15e, #69a550);
    background-image: linear-gradient(#76b15e, #69a550);
    border: 1px solid #5e9448;
    border-bottom-color: #53833f;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05); }
    .well .btn-primary:hover, .well .btn-primary:focus, .well .btn-primary:active,
    .well .btn-success:hover,
    .well .btn-success:focus,
    .well .btn-success:active {
      background-color: #69a550;
      border: 1px solid #53833f;
      border-bottom-color: #3d602f; }
    .well .btn-primary.disabled, .well .btn-primary.disabled:hover, .well .btn-primary.disabled:active, .well .btn-primary.disabled:focus,
    .well .btn-success.disabled,
    .well .btn-success.disabled:hover,
    .well .btn-success.disabled:active,
    .well .btn-success.disabled:focus {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #76b15e), color-stop(100%, #69a550));
      background-image: -webkit-linear-gradient(#76b15e, #69a550);
      background-image: -moz-linear-gradient(#76b15e, #69a550);
      background-image: -o-linear-gradient(#76b15e, #69a550);
      background-image: linear-gradient(#76b15e, #69a550); }
