body {
	background-color: #eee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	padding: 40px 0;
	background-image: url('../Images/TYPO3_logo.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.container {
	width: 300px;
}

.container > .content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px;
	-webkit-border-radius: 10px 10px 10px 10px;
	   -moz-border-radius: 10px 10px 10px 10px;
	        border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
	margin-left: 65px;
}

.alert-OK {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}
.alert-OK, .alert-OK .alert-heading {
	color: #468847;
}

.alert-Error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
.alert-Error, .alert-Error .alert-heading {
	color: #B94A48;
}

.alert-Notice {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
.alert-Notice, .alert-Notice .alert-heading {
	color: #3A87AD;
}

p {
	margin-bottom: 18px;
}

form {
	margin: 0;
}

.form-navigation {
	padding-top: 10px;
}

.form-navigation ul {
	margin: 0;
	float: right;
}

.form-navigation li {
	list-style: none;
}

fieldset div.error {
	margin-bottom: 10px;
}

legend {
	margin: 0;
}

legend + * {
	-webkit-margin-top-collapse: separate;
	margin-top: 20px;
}

#finalStep .form-navigation {
	display: none;
}